*.pyc
.tox/
*~
*.orig
*.log
venv*/
app.cfg
*.swp
.coverage
/article-xml/
/article-json/
/cache/
/guinea-pigs/
/kitchen-sinks/
api-raml/
htmlcov/
elife-tools/
src/elifetools
/*.sqlite3
run-*/
.pytest_cache/
unpub-article-xml/
