*.pyc
.tox/
*~
*.orig
*.log
venv/
app.cfg
*.swp
.coverage
article-xml/
article-json/
guinea-pigs/
kitchen-sinks/
api-raml/
htmlcov/
elife-tools/
src/elifetools
/*.sqlite3
backfill-run-*/
unpub-article-xml/
