[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
boto3 = "~=1.8"
et3 = "~=1.5"
elifetools = "==0.39.0"
isbnlib = "~=3.9"
joblib = "~=1.2"
# lsh@2023-07-26: pinned to 4.17, not semver, breaking changes introduced in 4.18
jsonschema = "==4.17.*"
python-json-logger = "~=2.0"
python-slugify = "~=1.2"
pytz = "*"
requests = "~=2.20"
requests-aws4auth = "~=1.2"
# pinned, dependency is unstable and breaks in higher versions.
requests-cache = "==0.5.2"
# lsh@2023-09-05: vendored. todo: shift unittest and tests to separate file and offer up a patch.
#rfc3339 = "~=6.0"

[dev-packages]
autopep8 = "~=2.0"
coverage = "~=7.2"
pyflakes = "~=3.0"
pylint = "~=2.16"
pytest = "~=7.2"
pytest-cov = "*"
