[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
boto3 = "~=1.8"
connexion = "~=1.5"
et3 = "~=1.5"
elifetools = "==0.29.0"
flex = "~=6.14"
#future = "==0.16.0"
isbnlib = "~=3.9"
# lsh@2020-07-07: isort pinned at 4.x as 5.x breaks api
isort = "~=4.3"
# todo: revisit
joblib = "~=1.2"
jsonschema = "~=2.6"
python-dateutil = "~=2.7"
# todo: revisit
python-json-logger = "~=0.1.9"
python-slugify = "~=1.2"
pytz = "*"
requests = "~=2.20"
requests-aws = "~=0.1"
# pinned, dependency is unstable and breaks in higher versions.
requests-cache = "==0.4.13"
rfc3339 = "~=6.0"
#strict-rfc3339 = "==0.7"
# pinned, Flask depends on MarkupSafe (same guy/org), which removed a feature in a minor version.
# - https://github.com/pallets/flask/issues/4455
# - https://github.com/pallets/markupsafe/issues/286
Flask = "~=1.0"
MarkupSafe = "==2.0.1"
PyYAML = "~=5.4"
# https://github.com/jarus/flask-testing/issues/143
Werkzeug = "~=0.16"
uWSGI = "~=2.0"

[dev-packages]
# lsh@2022-03-14: greater versions not available for python3.8.
# remove once using python3.8 exclusively
dataclasses = "<=0.6"
autopep8 = "~=1.4"
coverage = "~=4.1"
newrelic = "~=4.2"
pyflakes = "~=2.0"
# lsh@2022-10-10: pylint has broken again in 2.15.3, pinning it to patch versions of 2.14 only
pylint = "==2.14.*"
pytest = "~=7.2"
pytest-cov = "~=2.7"
Flask-Testing = "~=0.7"
