# file generated 2024-05-01 - see update-dependencies.sh
astroid==2.15.8
attrs==23.2.0
autopep8==2.1.0
beautifulsoup4==4.12.3
boto3==1.34.95
botocore==1.34.95
certifi==2024.2.2
charset-normalizer==3.3.2
coverage==7.5.0
dill==0.3.8
elifetools==0.40.0
et3==1.5.2
exceptiongroup==1.2.1
idna==3.7
importlib_resources==6.4.0
iniconfig==2.0.0
isbnlib==3.10.14
isort==5.13.2
jmespath==1.0.1
joblib==1.4.0
jsonschema==4.17.3
lazy-object-proxy==1.10.0
lxml==5.2.1
mccabe==0.7.0
packaging==24.0
pkgutil_resolve_name==1.3.10
platformdirs==4.2.1
pluggy==1.5.0
pycodestyle==2.11.1
pyflakes==3.2.0
pylint==2.17.7
pyrsistent==0.20.0
pytest==7.4.4
pytest-cov==5.0.0
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
python-slugify==1.2.6
pytz==2024.1
requests==2.31.0
requests-aws4auth==1.2.3
requests-cache==0.5.2
s3transfer==0.10.1
six==1.16.0
soupsieve==2.5
tomli==2.0.1
tomlkit==0.12.4
typing_extensions==4.11.0
Unidecode==1.3.8
urllib3==1.26.18
wrapt==1.16.0
zipp==3.18.1
