hg+https://bitbucket.org/lskibinski/et3/
#git+https://github.com/elifesciences/elife-tools.git@master#egg=elifetools
git+https://github.com/elifesciences/elife-tools.git@develop#egg=elifetools
python-slugify==1.2.0
jsonschema==2.5.1
