<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
<title>bot-lax-adaptor web form</title>
</head>
<body>

<div id="uploads">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% if uploaded_files %}
    <h2>results</h2>
    
    <table id="results">
    {% for path, fname in uploaded_files %}
        <tr class="{{ loop.cycle('odd', 'even') }}">
            <td>
            <a href="{{ url_for('uploaded_file', filename=fname) }}">
                {{ fname }}
            </a>
           </td>
            {% if fname.endswith('.xml') %}
            <td>
                <form method="POST" action="/generate/{{ fname }}"><input type="submit" value="generate json" /></form>
            </td>
            {% endif %}           
            
            {% if fname.endswith('.json') %}
            <td>
                <form method="POST" action="/validate/{{ fname }}"><input type="submit" value="validate json" /></form>
            </td>
            {% endif %}
            
            <td>
                <form method="POST" action="/delete/{{ fname }}"><input type="submit" value="delete" /></form>
            </td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}

    <h2>upload</h2>
    <p>upload article xml, convert to article-json, validate article-json</p>

    <form method="POST" action="/upload/" enctype="multipart/form-data" >
        <input type="file" name="xml" />
        <input type="submit" value="upload" />
    </form>

</div><!-- ends uploads -->

<div id="github">
    <h2>search</h2>
    <p>
        searches the elife-article-xml corpus and generates article-json. 
        pinned at revision: <a target="_blank" href="https://github.com/elifesciences/elife-article-xml/tree/{{ xml_rev }}">{{ xml_rev[:7] }}</a>
    </p>
    
    <form method="POST" action="/search/">
        manuscript ID: <input type="text" name="msid" /> <input type="submit" value="search" />
    </form>
    
</div>

</body>
</html>
